<h2 class="mt-4">会員情報</h2>

<div class="mb-3">
  <%= image_tag user.get_profile_image(100,100), class: "rounded-circle border" %>
</div>

<table class="table table-bordered w-50">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= user.introduction.presence || "未設定" %></td>
    </tr>
  </tbody>
</table>

<% if !user.guest_user? && user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-outline-primary" %></p>
<% end %>

<% if @user == current_user %>
  <%= link_to "退会", user_path(current_user.id),
              method: :delete,
              data: { confirm: "本当に退会しますか？" },
              class: "btn btn-outline-danger mt-2" %>
<% end %>

<% if @user == current_user %>
 <div class="group-buttons" style="display: flex; gap: 12px; margin-top: 20px; margin-bottom: 20px">
  <%= link_to "グループを作成", new_group_path, class: "btn btn-primary" %>
  <%= link_to "グループ一覧", groups_path, class: "btn btn-secondary" %>
 </div>
<% end %>


