<h1>会員情報編集</h1>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <div>
    <%= f.label :name, '氏名' %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, 'メールアドレス' %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :is_deleted, '会員ステータス（退会）' %><br>
    <%= f.check_box :is_deleted %>
    <span>☑ チェックで退会扱い</span>
  </div>

  <div>
    <%= f.submit '更新する' %>
  </div>
<% end %>

<%= link_to '戻る', admin_user_path(@user) %>