 <div class="d-flex justify-content-center mb-2">
  <%= render 'public/searches/form' %>
 </div>
<%= render 'public/images/list', user: @user,image: @image %>

<h2>会員一覧</h2>
<table class="table">
 
 <tbody>
  <% @users.each do |user| %>
  <tr>
   <td><%= image_tag user.get_profile_image(100,100) %></td>
   <td><%= user.name %></td>
   <td><%= link_to "Show", user_path(user) %></td>
  </tr>
  <% end %>
 </tbody>
</table>
