

<h1>編集</h1>
<%= form_with model: @image do |f| %>
   <h4>Photo</h4>
   <%= f.file_field :image, accept: "image/*" %>
   <h4>Title</h4>
   <%= f.text_field :title %>
   <h4>Opinion</h4>
   <%= f.text_area :body %>

   <div class="field">
   <%= f.label :user, "公開する" %>
   <%= f.check_box :public %>
   </div>

   <%= f.submit 'Update Image' %>

   <%= link_to "Show", image_path(@image.id) %>|<%= link_to "Back", images_path %>
<% end %>


